/* Reset de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Barra de navegación */
nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav h1 {
  margin-left: 20px;
}

nav div {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Esto agrega separación entre los enlaces */
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #555;
  border-radius: 4px;
}

/* Estilos de la sección principal */
.main-content {
  display: flex;
  justify-content: space-around;
  padding: 40px 0;
}

.section {
  width: 30%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.section:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.section img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.section h2 {
  margin-top: 20px;
  font-size: 22px;
  color: #333;
}

.section p {
  color: #777;
  font-size: 16px;
  margin: 10px 0;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}

footer p {
  font-size: 14px;
}
